body {
    background-color: rgb(43, 226, 107);
}
h1 {
    color: red;
    font-size: 50px;
}

h2 {
    margin: 1cm;
}

.content {
    margin: 10px;
    
}

.content-left {
    /*display: flex;*/
    float: left;
    background: red;
    text-align: left;
    width: 450px;
    height: 600px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.content-right {
    /*display: flex*/
    float: right;
    background: blue;
    text-align: left;
    width: 450px;
    height: 600px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
.header {
    text-align: right;
}

.container { 
    background: blueviolet;
}

.container-2 { 
    background: brown ;
    height: 400px;
    display: flex;
    align-items: center;
}

.container-3 { 
    background: azure;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border: solid blue 5px;
}

.block {
 width: 200px;
 height: 200px;
 background: blue;
 margin-left: auto;
 margin-right: auto;

}
.image {
 display: block;
 width: 200px;
 height: 200px;
 margin-left: auto;
 margin-right: auto;
}

.block-2 {
 width: 200px;
 height: 200px;
 background: rgb(173, 30, 109);
 margin-left: auto;
 margin-right: auto;
}

.block-3 {
 width: 200px;
 height: 200px;
 background: rgb(231, 246, 29);
 margin: auto;
 flex-wrap: wrap;
}

.container-4 { 
    background: white;
    width: 1000px;
    height: 1000px;
    border: solid black 5px;
}

.block-4 {
 width: 200px;
 height: 200px;
 margin: 100px;

 border: solid red 5px;
}

.block-5 {
 width: 200px;
 height: 200px;
 border: solid blue 5px;
 position: relative;
 left: 230px;
 bottom: 180px;
}

.block-6 {
 width: 200px;
 height: 200px;
 border: solid green 5px;
 position: relative;
 left: 360px;
 bottom: 260px;
}

.image-2 {
 display: block;
 width: 100px;
 height: 100px;
 position: fixed;
 left:100%+100px;
 right: 0;
 top: 100%+100px;
 bottom: 0;
 /*margin-left: auto;
 margin-right: auto;*/
}